/* Para prevenir problemas com pontuação */
@charset "UTF-8";

/*
Para facilitar futuras manutenções procurarei organizar os estilos
na mesma ordem em que estão dispostas as sessões do site.
*/

/* Estilo Geral */
body {
  margin: 0px;
  background-image: url(./img/back-topo-definitivo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}
/* Tornando as fontes responsivas. "vw" corresponde ao percentual
do tamanho do texto em relação ao tam. da janela de exibição. */

p {
  font-size: 95%;
  text-align: justify;
}

/* Barra Navegação */
.section-bar {
  height: 2vw;
  background-color: rgba(2, 0, 24, 0.767);
}

.nav-top ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 1vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.767);
  width: 100%;
}

.nav-item li {
  float: left;
}

.link a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 15px;
}

.link a:hover {
  background-color:rgb(33, 0, 61)
}

.nav-logo {
  height: 50px;
}

/* Header */
header {
  height: 5vw;
  padding-top: 15%;
  padding-bottom: 25%;
  background-color: rgba(10, 2, 41, 0.562);
  text-align: center;
}
.centro {
  width: 80vw;
  padding-top: 3vw;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

.big {
  font-size: 5vw;
}



/* Footer */
footer {
  width: 100%;
  height: auto;
  padding: 0;
  background-color: rgb(2, 0, 24);
  color: antiquewhite;
  overflow: hidden;
}

ul {
  display: block;
  width: 20%;
  text-decoration: none;
  text-align: left;
  list-style-type: none;
  padding: 10px;
}

#div-foot {
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-left: 12%;
  padding-bottom: 5%;
  padding-right: 10%;
  border: 0;
  overflow: hidden;
}

.foot-link {
  font-size: 15px;
  text-decoration: none;
  color: antiquewhite;
}

.li {
  padding: 5px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.copy {
  font-size: 15px;
  color:antiquewhite;
}