:root {
    --laranja: rgb(231, 124, 1);
    --verde: #321e00;
    --cinza: rgb(231, 231, 231);
    --branco: rgb(255, 255, 255);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav, ul{
    font-size: 1.7rem;
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}

nav a:hover {
    opacity: 1;
    color: var(--laranja)
}

/* Header */
header {
    background-color: var(--branco);
    opacity: 0.9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {width: 200px;}
header nav {display: flex;}
header li a {color: var(--verde)}
header li {margin: 0 15px;}
header li:first-child {margin-left: 0;}
header li:last-child {margin-right: 0;}
@media (max-width: 700px) {
    header {flex-direction: column;}
    header img {margin-bottom: 15px;}
}

/*HERO*/
.hero {
    background-image: url(/portfolio/Pousada_Calango/img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    min-height: 100vh;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 2.7rem;
    margin-bottom: 15px;
    text-shadow:5px 5px 7px rgb(0, 0, 0)
}
.hero h3 {
    font-size: 1.7rem;
    margin-bottom: 25px;
}

@media (max-width: 700px) {
    .hero h1 { font-size: 2rem; margin-bottom: 15px; margin-top: 30px}
    .hero h3 { font-size: 1.3rem; margin-bottom: 25px;}    
}

.hero .btn {
    background-color: var(--branco);
    border-radius: 4px;
    color: var(--verde);
    padding: 20px 50px;
    text-transform: uppercase;
}

.hero a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
    transition: .5s ease all;  
}

.hero a:hover {
    opacity: 1;
}

/*CONHEÇA*/
.conheca {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.conheca h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: var(--laranja);
    text-align:  center;
}

.conheca p {
    max-width: 800px;
    margin-bottom: 35px;
    color: var(--verde);
    text-align: center;
    font-size: 1.3rem;
}

.conheca hr {
    width: 200px;
    height: 2px;
    background-color: var(--laranja);
    margin-bottom: 70px;
    border: none;
}

/*Galeria de fotos*/
.conheca .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.conheca .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.conheca .grid li.small {
    flex-basis: 40%;
}

.conheca .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 700px) {
    .conheca .grid li.small, .conheca .grid li.large {
        flex-basis: 100%;
    }
}

/*caracteristicas*/
.caracteristicas {
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.caracteristicas h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: var(--laranja);
    text-align:  center;
}

.caracteristicas p {
    max-width: 800px;
    margin-bottom: 35px;
    color: var(--branco);
    text-align: center;
    font-size: 1.3rem;
}

.caracteristicas hr {
    width: 200px;
    height: 2px;
    background-color: var(--laranja);
    margin-bottom: 70px;
    border: none;
}

.caracteristicas .grid {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.caracteristicas .grid li {
    padding: 0 30px;
    text-align: center;
}

.caracteristicas .grid li i {
    color:var(--laranja);
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.caracteristicas .grid li h4 {
    color: var(--laranja);
    font-size: 1.5rem;
    margin-bottom: 30px;

}

.caracteristicas .grid li p {
    color: #fff;
}

@media (max-width: 850px) {
   .caracteristicas .grid {
        flex-direction: column;
   } 
}

/*NEWS*/

.news {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    background-color: var(--cinza);
}

.news h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: var(--laranja);
    text-align: center;
}

.news p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: var(--verde);
    font-size: 1.3rem;
}

.news hr {
    width: 200px;
    height: 2px;
    background-color: var(--verde);
    margin-bottom: 70px;
    border: none;
}

.news form { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.news input {
    padding: 15px;
    border: 1px solid var(--laranja);
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}

.news button {
    padding: 15px;
    background-color: var(--laranja);
    color:#fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .news input {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--verde);
    padding: 70px 0;
    align-items: center;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
}

footer ul li {
    margin-right: 10px;
}

footer ul li a {
    color:var(--laranja);
    font-size: 2rem;
}

footer p { 
    text-align: center;
    color:var(--laranja);
}

footer p img {
    width: 120px;
}