/* Para prevenir problemas com pontuação */
@charset "UTF-8";


/* RESET */
* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    color:var(--preto); 
}

/*Rolagem suave - Scroll*/
html {
    scroll-behavior: smooth;
}

:root {
    --branco: rgb(251, 251, 251);
    --preto: rgb(0, 0, 0);
    --cinza: rgb(231, 231, 231);
    --azul: rgb(31, 53, 105);
    --azulClaro: rgb(103, 137, 214);

}


/* HEADER / NAVBAR */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    padding: 20px 70px 10px 70px;
    width: 100%;
}

header img {
    width: 60px;
}

.menu {
    display: flex;
    font-size: 23px;
    font-weight: 700;
}

.menu-link{
    padding: 0.5rem 0;
    position: relative;
}

.menu-link::after{
    content:'';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--azulClaro);
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

header li {
    margin: 0 15px;
    color: var(--preto);   
}

header li a {
    opacity: 0.3;
    color: var(--preto);
    cursor: pointer;
}

header li a:hover {
    opacity: 1;
    color: var(--preto);
    transition: .5s ease all;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header nav {
        font-size: 20px;
    }
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    min-height: 1000px;
}

.hero h1 {
    font-size: 5rem;
    color: var(--azul);
    margin-bottom: 18px;
    text-shadow: 5px 6px 7px rgba(36, 36, 36, 0.3);
}

.hero h2 {
    font-size: 1.6rem;
    margin-bottom: 25px;
}

/* hero div class="foto" */
.foto {
    background-image: url(/img/foto3x4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 35px 0 35px 0;
}

@media(max-width: 700px) {
    .hero {
        min-height: 1000px;
    }
    .hero h1 {
        font-size: 50px;
        max-width:400px;
    }
    .hero h2 {
        font-size: 25px;
        max-width: 400px;
    }
    .hero img {
        width: 90%;
    }

}


/******* OLÁ *******/
.ola {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.0deg, var(--azul) 5%, var(--preto) 50%);
    width: 100%;
    min-height: 800px;
    text-align: center;
}

.ola img {
    width: 120px;
}

.ola h2 {
    font-size: 38px;
    color: var(--azulClaro);
    margin: 55px 0 25px 0;
}

.ola p {
    font-size: 22px;
    color: var(--branco);
    max-width: 700px;
}

@media(max-width: 700px) {
    .ola h2 {
        font-size: 45px;
        max-width: 400px
    }
    .ola p {
        max-width: 400px;
        font-size: 20px;
    }
}

/***** HABILIDADES ******/
.habilidades {
    display: flex;
    background-color: none;
    width: 100%;
    height: 700px;
}

.box {
    background-color: var(--branco);
    position: relative;
    padding: 20px;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-height: 500px;
    height: 900px;
    border-radius: 10px;
    box-shadow: -1px 1px 15px rgba(0, 0, 0,0.2);
}

.linha {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.linha img {
    width: 90px;
    margin: 15px;
} 

 .linha h2 {
    font-size: 30px;

}

.linha p {
    font-size: 25px;
    max-width: 600px;
    margin: auto;
}

.colunas {
    width: 50%;
    height: 100%;
    margin: 5px;
    font-size: 25px;
    padding: 25px;
}

@media(max-width: 700px) {
    .linha {
        flex-direction: column;
    }

    .colunas {
        width: 90%;
    }

    .linha p {
        font-size: 20px;
        max-width: 80%;
    }

    .habilidades {
        height: 2080px;
    }

    .box {
        height: 2000px;
        margin-top: -30px;
    }
}

/******** PORTFOLIO *******/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: end;
    background-color: var(--branco);
    width: 100%;
    min-height: 160vh;
    text-align: center;
}

.portfolio h2 {
    max-width: 400px;
    font-size: 38px;
    margin: 0 0 25px 0;
    color: var(--azul);
}

.portfolio p {
    max-width: 400px;
    font-size: 18px;
    max-width: 900px;
    margin-bottom: 45px;
}

.container {
    display: flex;
    width: 90%;
    padding-bottom: 70px;
}

.portfolio .grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;  
}

.portfolio .grid li {
    height: 350px;
    padding: 10px;
    border-radius: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.portfolio .grid li.img {
    flex-basis: 30%;
}

.img img {
    border-radius: 7px;
    height: max-content;
    right: fit-content;
}

@media (max-width: 700px) {
    .portfolio {
        max-width: 100%;
        min-height:  180vh;
        align-items: center;
        align-content: center;
    }
    .portfolio h2 {
        font-size: 38px;
    }
    .portfolio p {
        font-size: 18px;
    }    
    .portfolio .grid li.img {
        flex-basis: 30%
    }
}

/* FOOTER */

footer * {
    color: var(--cinza)
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    width: 100%;
    min-height: 30vh;
    text-align: center;
}

.foot ul {
    display: flex;
}

.foot li {
    margin: 10px;
}

.foot a {
    font-size: 2rem;
}

.foot a:hover {
    opacity: 0.3;
    transition: 0.3s all;
}

.foot p {
    font-size: 15px;
}

@media(max-width: 700px) {
    .foot p {
        font-size: 12px;
    }
}